.jumbotron {
    background-image: url("https://www.meatpoultry.com/ext/resources/MPImages/05-2019/051319/ImpossibleBurgerProduction_Lead.jpg?height=635&t=1557850685&width=1200");
    background-size: 100% 100%;
    text-align: center;
  }



.p1 {font-family: "Copperplate";}

.p2 {font-size: large;}

style="color:DodgerBlue;"